In [2]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [9]:
df = pd.read_csv("./data/stats_6200_4000.csv")

In [10]:
df

,Unnamed: 0,id,x,y,2001,2004,2006,2008,2011,2013,2016,2019
0,0,0,550779.199372,1.617497e+06,81,81,81,81,81,81,81,81
1,1,1,550879.199372,1.617497e+06,21,81,21,81,21,81,81,81
2,2,2,550979.199372,1.617497e+06,81,82,81,82,81,82,82,82
3,3,3,551079.199372,1.617497e+06,81,82,81,82,81,82,82,82
4,4,4,551179.199372,1.617497e+06,81,81,81,81,81,81,81,81
...,...,...,...,...,...,...,...,...,...,...,...,...
89995,89995,89995,580279.199372,1.587597e+06,82,82,82,82,82,82,82,82
89996,89996,89996,580379.199372,1.587597e+06,82,82,82,82,82,82,82,82
89997,89997,89997,580479.199372,1.587597e+06,82,82,82,81,82,81,81,81
89998,89998,89998,580579.199372,1.587597e+06,82,82,82,82,82,82,82,82
89999,89999,89999,580679.199372,1.587597e+06,82,82,82,82,82,82,82,82

In [7]:
df2 = df[df["2001"] != df["2019"]]

In [8]:
df2

,Unnamed: 0,id,x,y,2001,2004,2006,2008,2011,2013,2016,2019
1,1,1,550879.199372,1.617497e+06,21,81,21,81,21,81,81,81
2,2,2,550979.199372,1.617497e+06,81,82,81,82,81,82,82,82
3,3,3,551079.199372,1.617497e+06,81,82,81,82,81,82,82,82
7,7,7,551479.199372,1.617497e+06,81,82,81,82,81,82,82,82
8,8,8,551579.199372,1.617497e+06,81,81,81,82,81,82,82,82
...,...,...,...,...,...,...,...,...,...,...,...,...
89977,89977,89977,578479.199372,1.587597e+06,82,90,82,90,82,90,90,90
89978,89978,89978,578579.199372,1.587597e+06,82,90,82,90,82,90,90,90
89984,89984,89984,579179.199372,1.587597e+06,41,90,41,90,41,90,90,90
89985,89985,89985,579279.199372,1.587597e+06,82,22,82,22,82,22,22,22
89997,89997,89997,580479.199372,1.587597e+06,82,82,82,81,82,81,81,81